@layer reset, base, theme;
@layer reset {
  .pragma-button {
    --_button-background-color: hsl(240 4.8% 95.9%);
    --_button-text-color: hsl(240 10% 3.9%);
    --_button-padding-block: 10px;
    --_button-padding-inline: 20px;
    --_button-border-radius: 6px;
    --_button-border-width: 2px;
    --_button-border-color: var(--_button-background-color);
    --_button-hover-background-color: hsl(from var(--_button-background-color) h s calc(l - 20));
    --_button-hover-text-color: var(--_button-text-color);
    --_button-hover-border-color: hsl(from var(--_button-border-color) h s calc(l - 20));

    display: inline-block;
    transition: background-color 300ms, border-color 300ms;
    border-width: var(--_button-border-width);
    border-style: solid;
    border-color: var(--_button-border-color);
    border-radius: var(--_button-border-radius);
    padding-block: var(--_button-padding-block);
    padding-inline: var(--_button-padding-inline);
    background-color: var(--_button-background-color);
    cursor: pointer;
    color: var(--_button-text-color);
    &:hover {
      border-color: var(--_button-hover-border-color);
      background-color: var(--_button-hover-background-color);
      text-decoration: none;
      color: var(--_button-hover-text-color);
    }
    &:visited {
      color: var(--_button-text-color);
    }
  }
}
