parameters:
	ignoreErrors:
		-
			message: '#^Call to static method load\(\) on an unknown class Drupal\\media\\Entity\\Media\.$#'
			identifier: class.notFound
			count: 1
			path: modules/banner/src/Plugin/Block/BannerBlock.php

		-
			message: '#^Function filter_default_format not found\.$#'
			identifier: function.notFound
			count: 2
			path: modules/tabs/src/Plugin/Block/TabsBlock.php
