{#
/**
 * @file
 * A bare template for most fields.
 *
 * @see core/modules/system/templates/field.html.twig
 */
#}
{{ spaceless }}
{% if not label_hidden %}
	<h4>{{label}}</h4>
{% endif %}
{% block content %}
	{{ content }}
{% endblock %}
{{ endspaceless }}
